<template>
    <v-flex>
        <v-card class="mx-auto padded" max-width="600">
            <div class="text-center">
                <img
                        class="white--text"
                        height="70px"
                        width="auto"
                        src="@/ui/assets/logo_coexya.svg"
                        alt="Logo COEXYA"
                />
            </div>

            <ConfirmPassword v-if="unactivated"
                             @token="token"
                             :passwordTitleMessage="messages.passwordTitle"
                             :passwordMessage1="messages.passwordMessage1"
                             :passwordMessage2="messages.passwordMessage2"
                             :passwordFieldMessage="messages.passwordField"
                             :passwordConfirmationFieldMessage="messages.passwordConfirmationField"
                             :passwordSaveButtonMessage="messages.passwordSaveButton"
                             passwordSaveButtonIcon="check"/>

            <v-card-text v-else>
                <v-layout>
                    <v-flex>
                        <p class="error-frame text-center v-size--small ">
                            {{messages.alreadyUsed}}
                        </p>
                    </v-flex>
                </v-layout>
            </v-card-text>

            <div class="text-center" id="gcu">
                <a href="/#/GCU">{{ $t('login.gcu') }}</a>
            </div>
        </v-card>
    </v-flex>
</template>

<style type="text/css" scoped>

    img {
        margin: 40px 40px 60px 40px;
    }

    .v-size--small {
        font-size: 0.7em;
    }

    .padded {
        padding: 50px 100px;
    }

    .error-frame {
        outline: 1px solid #EE0000;
        white-space: pre-line;
    }

    #gcu {
        margin-top: 100px;
    }

</style>

<script lang="ts">
    import {Component, Prop, Vue} from "vue-property-decorator"

    @Component
    export default class Activation extends Vue {
        @Prop() private readonly access!: string

        @Prop(String) private readonly token!: string

        private unactivated: boolean = true

      private messages: any

      private beforeMount() {
        if (this.access === "activation") {
          this.messages = {
            passwordTitle: this.$t("firstLogin.title"),
            passwordMessage1: this.$t("firstLogin.message1"),
            passwordMessage2: this.$t("firstLogin.message2"),
            passwordField: this.$t("firstLogin.password"),
            passwordConfirmationField: this.$t("firstLogin.passwordConfirmation"),
            passwordSaveButton: this.$t("firstLogin.activate"),
            alreadyUsed: this.$t("firstLogin.alreadyActivated.title") + "\n\n"
                + this.$t("firstLogin.alreadyActivated.message1") + "\n"
                + this.$t("firstLogin.alreadyActivated.message2"),
          }

          this.unactivated = this.$modules.accounts.currentActivationError !== 403
              && this.$modules.accounts.currentActivationAccount!.firstLogin

        } else if (this.access === "reset-password") {
          this.messages = {
            passwordTitle: this.$t("resetPassword.title"),
            passwordMessage1: this.$t("resetPassword.message1"),
            passwordMessage2: this.$t("resetPassword.message2"),
            passwordField: this.$t("resetPassword.password"),
            passwordConfirmationField: this.$t("resetPassword.passwordConfirmation"),
            passwordSaveButton: this.$t("resetPassword.activate"),
            alreadyUsed: this.$t("resetPassword.alreadyActivated.title") + "\n\n"
                + this.$t("resetPassword.alreadyActivated.message1") + "\n"
                + this.$t("resetPassword.alreadyActivated.message2"),
          }

          this.unactivated = this.$modules.accounts.currentActivationError !== 403
        }
      }
    }
</script>
